/* LAYOUT */

body {
  color: #333;
  font-size: 125%;
  line-height: 1.5;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
}

.post-title {
  margin-bottom: 1rem;
}

.post-date {
  display: block;
  margin-bottom: 2rem;
  font-style: italic;
}

.content {
  margin-bottom: 2rem;
  justify-content: center;
}

img {
  max-width: 100%;
}

/* NAVIGATION */

.site-nav {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: center;
  color: white ;
}
.site-nav a:hover{
  border-radius: 10px;
  background-color: yellowgreen;
  color: wheat;
  width: auto;
  height: 15px;
  padding-top: 0;
}
.site-nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: row;
  }

  .site-nav a {
    padding: 0.3rem;
    padding-left: 0;
  }
  .site-nav a:hover{
  border-radius: 10px;
  background-color: yellowgreen;
  color: wheat;
  width: auto;
  height: 20px;
  padding: 5;
    margin: 5px;
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}
}
